body {
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 2rem;

  justify-content: center;
  align-items: center;
}

.player-one-container,
.player-two-container {
  display: grid;
  grid-template-columns: repeat(10, 2rem);
  grid-template-rows: repeat(10, 2rem);

  border: 1px solid rgb(46, 46, 46);

  color: rgb(159, 159, 159);
}

.player-one-container > div,
.player-two-container > div {
  border: 1px solid rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:default;
}

.player-two-container > div {
  cursor: pointer;
}
